.time-registration-page {
    padding: 80px 20px;

}

.months-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.months-header .months button {
    border: none;
    border-radius: 10px;
    background: none;
    margin: 0 10px;
}

.time-register-btn {
    font-size: 25px;
    cursor: pointer;
    color: rgb(16, 171, 16);
}

.time-register-add-btn {
    font-size: 18px;
    color: rgb(16, 171, 16);
    cursor: pointer;
    margin-right: 8px;
}

.time-register-edit-btn {
    font-size: 18px;
    color: rgb(56, 44, 220);
    cursor: pointer;
    margin-right: 8px;
}

.time-register-clear-btn {
    font-size: 18px;
    color: rgb(214, 82, 67);
    cursor: pointer;
}

.time-register-clear-btn:hover {
    font-size: 16px;
}
.time-register-edit-btn:hover {
    font-size: 16px;
}
.time-register-add-btn:hover {
    font-size: 16px;
}

.total-hours-display {
    font-weight: bold;
    color: rgba(16, 171, 16, 0.685);
}

.time-table {
    border-collapse: collapse;
    width: 100%;
}

.time-table th,
.time-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.trActionBtn {
    margin-left: 10px;
}

.time-table th {
    background-color: #f2f2f2;
}

.time-table tbody td:hover {
    background-color: #f2f2f2;
    color: black;
}

.time-table .day-cell {
    cursor: pointer;
    width: 40px;
    text-align: center;
    color: black;
}

.time-table .week-cell{
    width: 95px;
    text-align: center;
}

.time-table .hour-cell{
    width: 50px;
    text-align: center;
}
.time-table .action-cell{
    width: 70px;
    text-align: center;
}

.weekday-bg {
    background-color: rgba(16, 171, 16, 0.685);
}


@media (max-width:800px) {
    .time-registration-page {
        font-size: 7px;
    }
}

