.brand {
    height: 25px;
}

.navbar-style {
  width: 100%;
  position: fixed;
  z-index: 99;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.links {
  color: rgba(0, 0, 0, 0.886);
  text-decoration: none;
  transition: text-shadow 0.3s;
  display: inline;
  padding: 10px;
  border-radius: 5%;
  &:hover {
    text-shadow: 0 0 5px #93e283, 0 0 10px #94e790, 0 0 20px #80da7b, 0 0 30px #77e28e;
  }
}
.active {
  color: #36b558;  
  font-weight: 500;
}

.navbar-card-btn {
    font-size: 20px;
    margin-left: 15px;
    cursor: pointer;
}

@media (max-width:700px) {
    .brand {
        height: 10px;
    }
    .navbar-style {
        font-size: 5px;
    }
    .links {
        padding: 3px;
    }
    .navbar-card-btn {
        font-size: 10px;
        margin-left: 5px;
    }
}
