.company-management {
  padding-top: 70px;
}

.company-list {
    margin-top: 50px;
  padding: 10px;
  
}

.company-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  background-color: #ffffffd9;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.company-search-container {
  margin: 20px auto;
  display: flex;
  align-items: center;
  max-width: 500px;

}
.company-search-container.search-icon {
    font-size: 15px;
    position: absolute;
  }

  /* for icon */
  .status-circle {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 10px;

  }
  

  
 .green{
  color: rgb(16, 241, 80);
 }

 .red{
  color: red;
 }

 .company-delete-btn{
  margin-left: 8px;
 }