.project-body {
    padding-top: 100px;
  }

 .about-login-btn {
    position: absolute;
    top: 10px;
    right: 100px;
  }

  .about-signup-btn {
    position: absolute;
    top: 10px;
    right: 180px;
  }

  .project-body p {
    font-size: 20px;
  }

  .plancpu {
    height: 70px;
  }

  @media (max-width: 500px) {
    .plancpu {
        height: 30px;
    }
    .about-login-btn {
        right: 20px;
      }
    
      .about-signup-btn {
        right: 100px;
      }
  }
