.title {
  text-align: center;
}
.tasks-container {
  padding-top: 100px;
}
.tasks-form {
  padding: 10px;
  margin: 10px auto 40px;
  max-width: 450px;
  border-radius: 10px;
  box-shadow: 0px 10px 45px -3px rgba(0, 0, 0, 0.3);
}

.task-wrapper {
  padding: 5px 10px;
  overflow: hidden;
  box-shadow: 0px 10px 45px -3px rgba(0, 0, 0, 0.1);
}
.time-btn {
  display: flex;
  justify-content: space-between;
  > .list-title {
    display: flex;
    gap: 10px;
  }
}
.task-edite-btn{
  margin: 0 10px;
}
.pagination {
  margin: 0 auto;
}

.task-toast {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: green;
  color: white;
}

@media (max-width: 800px) {
  .task-wrapper * {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }
}
