.title {
  text-align: center;
}
.tasks-container {
  padding-top: 100px;
}
.tasks-form {
  padding: 10px;
  margin: 10px auto 40px;
  max-width: 450px;
  border-radius: 10px;
  box-shadow: 0px 10px 45px -3px rgba(0, 0, 0, 0.3);
}
.add-task-btn:hover {
  transform: perspective(300px) rotateX(40deg);
  color: white;
}

.task-wrapper {
  padding: 5px 10px;
  overflow: hidden;
  box-shadow: 0px 10px 45px -3px rgba(0, 0, 0, 0.1);
}
.time-btn {
  display: flex;
  justify-content: space-between;
  > .list-title {
    display: flex;
    gap: 10px;
  }
  & .edite-btn {
    padding: 2px 8px;
    border: none;
    margin-left: 5px;
    border-radius: 5px;
    background-color: rgba(44, 233, 88, 0.747);
    &:hover {
      transform: perspective(300px) rotateX(40deg);
      color: white;
    }
  }
  & .delete-btn {
    padding: 2px 8px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.795);
    &:hover {
      transform: perspective(300px) rotateX(40deg);
      color: white;
    }
  }
  & .see-btn {
    padding: 2px 8px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgba(6, 55, 253, 0.886);
    &:hover {
      transform: perspective(300px) rotateX(40deg);
      color: white;
    }
  }
}

.pagination{
    margin: 0 auto;
}

@media (max-width: 800px) {
  .task-wrapper * {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }
}
