.body-nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 60px 0px 0 0;
    border-bottom: 1px solid rgba(35, 35, 35, 0.441);
    z-index: 11;
    color: #6e6e6e;
}

.table-box {
    padding-top: 125px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.table-headers {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    font-weight: 600;
    background-color: #ffffff;
}

.open-table {
    >.open-body {
        margin-top: 45px;
        background-color: #d6d6d646;
        padding: 2px 5px;
        border-radius: 3px;

        >.open-task {
            margin: 8px 0;
            padding: 4px;
            border-radius: 3px;
            background: #fff;
            box-shadow: rgba(25, 119, 220, 0.941) 0px 2px 4px 0px,
                rgba(21, 76, 204, 0.879) 0px 2px 16px 0px;

            >.card-top {
                display: flex;
                justify-content: space-between;

                >img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }
            }

            >.card-bottom {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

.progress-table {
    >.open-body {
        margin-top: 45px;
        background-color: #d6d6d646;

        padding: 2px 5px;
        border-radius: 3px;

        >.open-task {
            margin: 8px 0;
            padding: 4px;
            border-radius: 3px;
            background: #fff;
            box-shadow: rgba(29, 172, 91, 0.941) 0px 2px 4px 0px,
                rgba(25, 154, 98, 0.717) 0px 2px 16px 0px;

            >.card-top {
                display: flex;
                justify-content: space-between;

                >img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }
            }

            >.card-bottom {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

.review-table {
    >.open-body {
        margin-top: 45px;
        background-color: #d6d6d646;

        padding: 2px 5px;
        border-radius: 3px;

        >.open-task {
            margin: 8px 0;
            padding: 4px;
            border-radius: 3px;
            background: #fff;
            box-shadow: rgba(211, 225, 89, 0.941) 0px 2px 4px 0px,
                rgba(201, 235, 80, 0.717) 0px 2px 16px 0px;

            >.card-top {
                display: flex;
                justify-content: space-between;

                >img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }
            }

            >.card-bottom {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

.closed-table {
    >.open-body {
        margin-top: 45px;
        background-color: #d6d6d646;

        padding: 2px 5px;
        border-radius: 3px;

        >.open-task {
            margin: 8px 0;
            padding: 4px;
            border-radius: 3px;
            background: #fff;
            box-shadow: rgba(43, 224, 230, 0.941) 0px 2px 4px 0px,
                rgba(67, 215, 223, 0.879) 0px 2px 16px 0px;

            >.card-top {
                display: flex;
                justify-content: space-between;
            }

            >.card-bottom {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

.home-card-btn {
    font-size: 20px;
    margin-left: 15px;
    cursor: pointer;
    color: rgb(16, 171, 16);
}

.task-hour {
    color: red;
}

@media (max-width: 700px) {
    .table-headers {
        font-size: 10px;
    }

    .open-table,
    .progress-table,
    .review-table,
    .closed-table * {
        font-size: 10px;
    }

    .home-card-btn {
        font-size: 10px;
        margin-left: 5px;
    }
    .home-card-btn-clock {
        font-size: 10px;
    }
}